:root {
    --color-blue: #2639ED;
    --color-white: #fff;
    --color-black: #000;

    --color-gray-dark: #565656;
    --color-gray-extra-light: #A4A4A4;
    --color-gray: #757575;
    --color-gray-light: #959595;
}