.footer {
    padding: 63px 0 29px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4; 

    display: flex;
    justify-content: space-between;
    column-gap: 190px;
}
.footer-text-left-content {
    width: 270px;
}
.footer-text-right-content {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}
.footer-navigation {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.columns {
    flex-shrink: 0;
    flex-grow: 1;
}
.soc-icons {
    display: flex;
    align-items: center;
}
.soc-icons a:not(:last-child){
    margin-right: 16px;
}
.icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
}
.facebook-icon {
    background-image: url(../img/footer_section/facebook.svg);
}
.twitter-icon {
    background-image: url(../img/footer_section/twitter.svg);
}
.linkedin-icon {
    background-image: url(../img/footer_section/linkedin.svg);
}