.shapes {
    position: absolute;
    z-index: -5;
}
.hero-blue-shape {
    left: -65px;
    top: 0;
    width: 129px;
    height: 129px;
    background: #DAE9FF;
    border-radius: 50%;
}
.hero-pink-shape {
    bottom: -96px;
    right: 120px;
    width: 178px;
    height: 178px;
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
}
.services-pink-shape {
    width: 178px;
    height: 178px;
    left: -38px;
    top: -60px;
    background: #FFF5DB;
    border-radius: 100px 0px 0px 0px;
}
.services-blue-shape {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F4F9FF;
    height: 619px;
    width: 1047px;
    border-radius: 150px 0px 0px 0px;
    z-index: 10;
}
.services-red-shape {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    right: 145px;
    bottom: 44px;
    border: 8.8px solid #FF007A;
}
.about-blue-shape {
    top: -24px;
    left: -40px;
    width: 178px;
    height: 178px;    
    background: #EFF1FF;
    border-radius: 0px 0px 100px 0px;
}
.testimonials-pink-shape {
    left: 20px;
    top: 120px;
    width: 184px;
    height: 184px;
    background: #FFF5DB;
    border-radius: 50%;
}