.shapes {
    position: absolute;
    z-index: -5;
}
.hero-blue-shape {
    left: -65px;
    top: 0;
    width: 129px;
    height: 129px;
    background: var(--color-blue-light--1);
    border-radius: 50%;
}
.hero-orange-shape {
    bottom: -96px;
    right: 120px;
    width: 178px;
    height: 178px;
    background: var(--color-orange--2);
    border-radius: 0px 0px 100px 0px;
}
.services-orange-shape {
    width: 178px;
    height: 178px;
    left: -38px;
    top: -60px;
    background: var(--color-orange--2);
    border-radius: 100px 0px 0px 0px;
}
.services-blue-shape {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-blue-light--3);
    height: 619px;
    width: 1047px;
    border-radius: 150px 0px 0px 0px;
    z-index: 10;
}
.services-red-shape {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    right: 145px;
    bottom: 44px;
    border: 8.8px solid var(--color-red);
}
.about-blue-shape {
    top: -24px;
    left: -40px;
    width: 178px;
    height: 178px;    
    background: var(--color-blue-light--2);
    border-radius: 0px 0px 100px 0px;
}
.about-image-content::after {
    content: '';
    position: absolute;
    width: 129px;
    height: 129px;
    bottom: -64px;
    right: -40px;
    background: var(--color-orange--2);
    border-radius: 50%;
    z-index: -5;
}
.testimonials-orange-shape {
    left: 20px;
    top: 120px;
    width: 184px;
    height: 184px;
    background: var(--color-orange--2);
    border-radius: 50%;
}
.testimonials-image-content::after {
    content: '';
    position: absolute;
    border: 8.8px solid var(--color-red);
    border-radius: 50%;
    left: -10px;
    bottom: 12px;
    width: 120px;
    height: 120px;
    z-index: -5;
}
.subscribe-orange-shape {
    width: 178px;
    height: 178px;
    left: -38px;
    bottom: -39px;
    background: var(--color-orange--2);
    border-radius: 0px 0px 0px 100px;
}