.section-hero {
    background-color: var(--color-white);
    position: relative;
}
.hero {
    
}
.hero-text-content {
    position: relative;
    height: 512px;
    max-width: 470px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text-content .heading-primary {
    text-transform: capitalize;
}
.hero-image-content {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 512px;
    width: 754px;
}
.hero-bg {
    position: absolute;
    height: 512px;
    width: 754px;
    z-index: 10;
    background-image: url(../../img/hero_section/hero_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}