.section-services {
    position: relative;
}
.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 868px;
}
.services-card-content {
    position: absolute;
    right: 60px;
    z-index: 15;
    display: flex;
    column-gap: 34px;
}
.services-card-column {
    display: flex;
    flex-direction: column;
}
.services-card-column:first-child {
    margin-top: 80px;
}
.services-card-column .services-card:first-child{
    margin-bottom: 30px;
}
.bg-blue {
    background-color: #F1F7FF;
}
.bg-orange {
    background-color: #FFF7E3;
}
.bg-red {
    background-color: #FFF2F8;
}
.bg-green {
    background-color: #DEFFEE;
}
.services-text-content {
    width: 390px;
    height: 620px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}
.services-text-content .heading-primary {
    margin-bottom: 45px;
    position: relative;
    z-index: 20;
}
.services-text-content .services-desc {
    position: relative;
    z-index: 20;
}
